/* @import url('https://fonts.googleapis.com/css?family=Numans'); */
html, body {
	background-size: cover;
	background-repeat: no-repeat;
	/* height: 100%; */
	background-color: #333;
	font-family: 'Numans', sans-serif;
}

.container {
	/* height: 100%; */
	align-content: center;
}

.card {
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

.social_icon span:hover {
	color: white;
	cursor: pointer;
}

.card-header h3 {
	color: white;
}

.social_icon {
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span {
	width: 50px;
	background-color: #FFC312;
	color: black;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	color: black;
	background-color: #FFC312;
	width: 100px;
}

.login_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}

/****Homepage CSS***/
body {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	color: #fff;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* Links */
a, a:focus, a:hover {
	color: #fff;
}

/* Custom default button */
.btn-secondary, .btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #FFC312;
	border: .05rem solid #fff;
}

.btn-find {
	color: #333;
	text-shadow: none;
	background-color: #00fcff;
}

.btn-find:hover{
	background-color: #FFC312;
}

.btn {
	border-radius: 50px;
}

.cover-container {
	max-width: 50%;
	width: 100%;
}

/*
 * Header
 */
.masthead {
	margin-bottom: 2rem;
}

.masthead-brand {
	margin-bottom: 0;
}

.nav-masthead .nav-link {
	padding: .25rem 0;
	font-weight: 700;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff;
}

@media ( min-width : 48em) {
	.masthead-brand {
		float: left;
	}
	.nav-masthead {
		float: right;
	}
}

/*
 * Cover
 */
.cover {
	padding: 0 1.5rem;
}

.cover .btn-lg {
	padding: .75rem 1.25rem;
	font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
	color: rgba(255, 255, 255, .5);
}

/**Find Speech Page */
.speech-control,
.speech-control-pulse {
    background: #FFFFFF;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.speech-control-container {
    height: 190px;
    width: 190px;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
}

.speech-control-pulse {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.speech-control {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: absolute;
    transition: background-color 750ms;
}

.speech-control-container.listen .speech-control {
    background-color: #23507c;
}

.speech-control .microphone-icon {
    color: #23507c;
    font-size: 100px;
    margin: auto;
    display: block;
    text-align: center;
    line-height: 2;
    transition: color 750ms;
}

.speech-control-container.listen .microphone-icon {
    color: #FFF;
}

.speech-control-container.listen .speech-control-pulse {
    -webkit-animation: pulse 1.3s 2;
    animation: pulse 1.3s 2;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.speech-control-loader {
    display: none;
    position: absolute;
    top: -15px;
    left: -15px;
    height: 220px;
}

.loading .speech-control-loader {
    display: block;
}

.speech-control-loader .circle {
    -webkit-animation: load 2s ease-in-out;
    animation: load 2s ease-in-out;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 110px 50%;
    transform-origin: 110px 50%;
    fill: transparent;
    stroke: #ABABAB;
    stroke-dasharray: 635px;
}
@-webkit-keyframes load {
    from {
        stroke-dashoffset: 635px;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes load {
    from {
        stroke-dashoffset: 635px;
    }
    to {
        stroke-dashoffset: 0;
    }
}

/*Share form **/
#contact_form {
	margin: 50px 0 50px 0;
}

#success_message{ display: none;}

small.help-block {
    color: magenta;
}

/*******Image Uploading *******/
file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
  font-size:20px;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

#image-group {
	margin:0;
}